services:
  db:
    image: postgis/postgis:16-3.4
    container_name: med_db
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: med
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: med_redis
    ports:
      - '6379:6379'

  minio:
    image: minio/minio:latest
    container_name: med_minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio12345
    ports:
      - "9000:9000"   # S3 API
      - "9001:9001"   # Console UI
    volumes:
      - minio_data:/data

volumes:
  db_data:
  minio_data:
